[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "cxxopts"]
	path = cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "robin-hood-hashing"]
	path = robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing.git
[submodule "lns2"]
	path = lns2
	url = https://github.com/ed-lam/lns2-for-bcp-mapf.git
[submodule "eecbs"]
	path = eecbs
	url = https://github.com/ed-lam/eecbs-for-bcp-mapf.git
